.cards {
  display: flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.topCountries {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
}

