.container {
  height: 400px;
  width: 380px;
  width: 380px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.list {
    overflow-y: scroll;
    height: 360px;
    padding: 5px;
    width: 100%;
}


