.container {
  height: 400px;
  width: 380px;
  width: 380px;
  box-sizing: border-box;
}

.list {
    overflow-y: scroll;
    height: 360px;
}

.countrySearch {
  width: 340px;
  height: 30px;
  margin: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  border: solid 2px #f2f2f2;
  font-size: 18px;
  padding: 0 10px;
}

.countrySearch:focus {
  border: solid 2px#6651bb;
}
