.cards {
  display: flex;
  justify-content: center;
  display: flex;
  width: 90%;
  justify-content: center;
  flex-wrap: wrap;
 
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 80px auto 0px auto;
  min-height: 300px;
}

.header {
  margin-left: 30px;
}

