body {
    background-color: rgb(250, 250, 250);
    overflow-x:hidden;
    font-family: 'Roboto', sans-serif;

}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: url('./images/bg.jpg') no-repeat fixed;
    height: 700px;
}

.bg {
    background-color: blueviolet;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 120, 201, 0.7)
}

.cardsContainer {
    min-height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}