.navbar {
  display: flex;
  margin-right: 20px;
}
.navbar li {
  list-style-type: none;
  margin-right: 20px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.navbar li:hover {
  color: #fb9292;
}
