.navbar {
  display: flex;
  margin-right: 20px;
}
.link {
  list-style-type: none;
  margin-right: 20px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}

.link:hover {
  color: #fb9292;
}

.container {
  height: 60px;
}

.activeLink {
  color: #fb9292;
}
